<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-4 ml-auto mr-auto">
            <p class="category">&nbsp;</p>
            <button mat-raised-button   (click)='abrir()'>
              <i class="fa fa-file-pdf-o fa-3x"></i> Guia rapida de uso.
            </button>
          </div>
          <br>
          <div class="col-md-12">
              <div class="tim-typo">
                  <h1>
                      <span class="tim-note">Video Tutorial</span>
                  </h1>
              </div>
              <video class="col-md-12" src="./assets/multimedia/PME2.mp4" autoplay muted controls  loop></video>
          </div>
        
    </div>
</div>
