<div class="main-content">
  <div class="container-fluid">
      <form id='prb' #reportesForm="ngForm">
    <div class="card">
      
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">search</i>
        </div>
        <h4 class="card-title">Parametros
        </h4>
      </div>
     <div class="row">
        <div class="col-sm-6">
                <mat-form-field  class="card-body text-center">
                    <mat-select placeholder="Departamento" [(ngModel)]="idDepartamento"  name='DEPARTAMENTO' required (selectionChange)="selDepartamento()">
                      <mat-option *ngFor="let dato of departamento" [value]="dato.ID"  >
                                {{dato.TEXT}}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
        </div>
        <div class="col-sm-6">
            <mat-form-field  class="card-body text-center">
                <mat-select placeholder="Dependencia" [(ngModel)]="idDependencia" name='DEPENDENCIA'  required >
                  <mat-option *ngFor="let dato of dependencia" [value]="dato.ID">
                            {{dato.TEXT}}
                  </mat-option>
                </mat-select>
            </mat-form-field> 
        </div> 
      </div> 
    <div class="row">
        <div class="col-sm-4">
          <mat-form-field class="card-body text-center">
              <mat-select placeholder="Grupo" [(ngModel)]="idGrupo" name='GRUPO'  required (selectionChange)="selGrupo()">
                <mat-option *ngFor="let dato of grupo" [value]="dato.ID"  >
                          {{dato.TEXT}}
                </mat-option>
              </mat-select>
          </mat-form-field> 
        </div>
        <div class="col-sm-4">
          <mat-form-field  class="card-body text-center">
              <mat-select placeholder="Sub Grupo" [(ngModel)]="idSubGrupo" name='SUBGRUPO'  required (selectionChange)="selSubGrupo()" >
                <mat-option *ngFor="let dato of subGrupo" [value]="dato.ID">
                          {{dato.TEXT}}
                </mat-option>
              </mat-select>
          </mat-form-field> 
        </div>
        <div class="col-sm-4">
            <mat-form-field  class="card-body text-center">
                <mat-select placeholder="Renglon" name='RENGLON' [(ngModel)]="idRenglon"  required>
                  <mat-option *ngFor="let dato of renglon" [value]="dato.ID">
                            {{dato.TEXT}}
                  </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
      </div> 
      <button mat-raised-button class="btn btn-success" (click)='getInfGraficas()' [disabled]="!reportesForm.form.valid">CARGAR</button>
    </div>
  </form>

    <div class="row" >
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">attach_money</i>
              </div>
              <p class="card-category">Total Planificado</p>
              <h3 class="card-title">{{info.PLANIFICADO  | number}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">local_offer</i>
                <a>{{info.PRODUCTOS + ' productos ' }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">money_off</i>
              </div>
              <p class="card-category">Total Presupuestado</p>
              <h3 class="card-title">{{info.PRESUPUESTADO | number}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">local_offer</i>
                <a>{{info.RENGLONES + ' renglones presupestarios ' }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">remove_circle_outline</i>
              </div>
              <p class="card-category">Diferencia</p>
              <h3 class="card-title">{{info.DIFERENCIA  | number}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">local_offer</i>
                <a>Entre Presupuesto y Planificación</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">flag</i>
              </div>
              <p class="card-category">Planificaciones Realizadas</p>
              <h3 class="card-title">{{info.PLANIFICACIONES  | number}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">local_offer</i>
                <a>Detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-10">
              <div class="card">
                <div class="card-header card-header-icon card-header-info">
                  <div class="card-icon">
                    <i class="material-icons">timeline</i>
                  </div>
                  <h4 class="card-title">Comparativa
                    <small>Presupuestado vs  Planificado</small>
                  </h4>
                </div>
                <div class="card-body col-sm-8 ml-auto mr-auto">
                    <canvas id="canvas2">{{ chart }}</canvas>
                </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                  <i class="material-icons">timeline</i>
                </div>
                <h4 class="card-title">Planificación por renglón
                </h4>
              </div>
              <div class="card-body col-sm-8 ml-auto mr-auto">
                  <canvas id="canvas">{{ chart1 }}</canvas>
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                  <i class="material-icons">timeline</i>
                </div>
                <h4 class="card-title">Presupuesto planificado por grupo
                </h4>
              </div>
              <div class="card-body col-sm-8 ml-auto mr-auto">
                  <canvas id="canvas3">{{ chart2 }}</canvas>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>