<div class="main-content">
    <div class="container-fluid">        
      <div class="tab-pane">
        <div class="card">
            <div _ngcontent-c4="" class="card-header card-header-warning card-header-icon">
                <div _ngcontent-c4="" class="card-icon">
                  <i _ngcontent-c4="" class="material-icons">list_alt</i>
                </div><h4 _ngcontent-c4="" class="card-title">Listado de Programaciones Pendientes de Autorizar</h4>
              </div>                                
          <div class="card-body">
            <div class="table-responsive">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                </mat-form-field>
                <table mat-table [dataSource]="datapoaFiltrado" 
                matSort class="table table-striped table-no-bordered table-hover" 
                cellspacing="1"
                width="100%" 
                style="width:100%">

              <ng-container matColumnDef="ANIO">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-warning"> Año Solicitud</th>
                  <td mat-cell *matCellDef="let row"> {{row.ANIO}} </td>
              </ng-container>
              <ng-container matColumnDef="poa_REF">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-warning"> Número de Solicitud </th>
                  <td mat-cell *matCellDef="let row"> {{row.NUMERO}}</td>
              </ng-container>

              <ng-container matColumnDef="AUTORIZADOR_NOMBRE">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-warning"> Autorizador </th>
                  <td mat-cell *matCellDef="let row"> {{row.AUTORIZADOR_NOMBRE}}</td>
              </ng-container>

              <ng-container matColumnDef="ESTADO">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-warning"> Estado </th>
                  <td mat-cell *matCellDef="let row"> {{row.ESTADO}}</td>
              </ng-container>

              <ng-container matColumnDef="Acciones">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-warning"> Acciones </th>
                  <td mat-cell *matCellDef="let row"> 
                      <button mat-raised-button type="button" class="btn btn-info {{row[5]}}" style="padding: 0.5em; margin: 0.5em" (click)='verFirma(row.POAID)'>
                          <i class="material-icons">visibility</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-success {{row[5]}}" style="padding: 0.5em; margin: 0.5em" (click)='openDialog(row)' *ngIf='row.ESTADOID==30'>
                          <i class="material-icons">done_all</i>
                      </button>
                  </td>
              </ng-container>                      
              
            <tr mat-header-row *matHeaderRowDef="['ANIO','poa_REF','AUTORIZADOR_NOMBRE', 'ESTADO', 'Acciones']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['ANIO','poa_REF','AUTORIZADOR_NOMBRE', 'ESTADO', 'Acciones'];">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>